table,
th,
td {
  border: 1px solid black;
  height: 35px;
  width: 500px;

  text-align: center;
}

.red {
  background-color: red;
}

.vermelhoclaro {
  background-color: #b30000;
}

.vermelhoescuro {
  background-color: #660000;
}

.green {
  background-color: green;
}

.verdeclaro {
  background-color: #99ff99;
}

.verdeescuro {
  background-color: #004d00;
}

.blue {
  background-color: blue;
}

.azulclaro {
  background-color: #ccccff;
}

.azulescuro {
  background-color: #000066;
}

.fundo {
  background-image: url(IFSP.png), url(IMAGEM.png);
  background-repeat: no-repeat, repeat-x;
  background-position: right, bottom;
  background-size: auto, auto 150px;
  min-height: 100vh;
}
